
.outline{
    
    margin-top: 5%;

}
.input{
    border-top: 0em; border-left: 0em; border-right: 0em;
    margin-left: 35%;
    margin-right: 35%;
}
.main{
    text-align: center;
    text-size-adjust: 20em;
}

.brbr{
    margin-top: 5%;
    margin-left: 35%;
}
.br_g{
    margin-left: 40%;
}